body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size:small;
    padding: 70px;
}

.coralColor {
    color: coral;
    font-weight: 700;
}

.blueColor {
    color: blue;
    font-weight: 700;
}

.blackColor {
    color: black;
    font-weight: 700;
}

.greyColor {
    color: grey;
    font-weight: 700;
}

.goldColor {
    color: gold;
    font-weight: 700;
}

#output {
    display: none;
}

#agePerPlanet {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size:small;  
}



